@font-face{
  font-family: Montserrat-Bold;
  src: url(../font/Montserrat-Bold.ttf);
}

@font-face{
  font-family: Montserrat-Medium;
  src: url(../font/Montserrat-Medium.ttf);
}

@font-face{
  font-family: Montserrat-Regular;
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face{
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}

@font-face{
  font-family: Roboto-Regular;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: WebSymbolsRegular;
  src: url(../font/websymbols-regular-webfont.ttf);
  src: url(../font/websymbols-regular-webfont.woff);
}
/**********ESTILOS GENERALES**********/

* {
    margin: 0;
    padding: 0;
  }
  
  .clear {
    float: none;
    clear: both;
  }

  .primerContainer, .segundoContainer h3, .tercerContainer h3, ul li a{
    font-family: Montserrat-Bold;
    color: #572EE5;
  }

.segundoContainer p{
  font-family: Montserrat-Medium;
  color: #572EE5;
}

.tercerContainer p, .footer{
  font-family: Roboto-Regular;
}

.icon {
  font-family: WebSymbolsRegular;
}
  
  body {
    min-width: 375px;
  }

  /************BARRA NAVEGADOR*************/
  
  header {
    width: 100%;
    height: 95px;
    border-top: 5px solid #572EE5;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }

  .logo{

    margin: 29px 0 0 22px ;
  }

  .logo img{
    width: 48.8px;
    height: 48.8px;
  }

  .responsive{
    margin: 47px 26px 0 70.2%;
  }

  .hamburguesa{
    width: 100%;
    height: 484px;
    background: rgba(87,46,229,0.90);
    position: absolute;
    top: 95px;
    left: 0;
  }

  .hamburguesa ul li{
    width: 100%;
    height: 60px;
    padding: 5px;
  }

  .hamburguesa li a{
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
  }

  .open{
    display: none;
  }

  .actionClose{
    display: none;
  }

  .actionOpen{
    display: block;
  }

  .actionOpen2{
    display: none;
  }

  .actionClose2{
    display: block;
  }

  .nigth{
    display: none;
  }

  .boton{
    display: none;
  }

  .menu-out{
    display: none;
  }

  .logo img{
    width: 48.8px;
    height: 48.8px;
  }
/********************************************************/
  ul{
    display:none;
  }
/***************************************************/
  @media (min-width: 500px){
    .header{
      width: 100%;
      height: 95px;
      margin: 0;
    }

    .responsive{
      display: none;
    }

    .logo{
      margin-top: 18px;
    }

    .menu{
      margin: 0;
      padding: 0;
      width: 70%;
      height: 90px;
    }
    .menu ul{
      height: 95px;
      position: initial;
      display: flex;
      justify-content: space-between;
      background-color: white;
    }

    .menu ul li{
      text-decoration: none;
      list-style: none;      
      padding-top: 16px;
      
    }

    .menu ul li a{
      text-decoration: none;
      color: #572EE5;
    
    }

    .menu ul li a:hover{
      border-bottom: 2px solid #5ED7C6;
    }

    .menu ul li a:active{
      color: #9CAFC3;
      border-bottom: none;
    }

    .header button{
      display:flex;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: none;
    }

    .boton{
      display: block;
      margin-top: 23px;
      margin-right: 4.8%;
    }

    .boton img{
      width: 40px;
      height: 40px;
    }

  }

  @media (min-width: 1024px){
    .logo{    
      margin-left: 10.8%;
    }

    .day img{
      width: 51.1px;
      height: 51.1px;
    }

    .menu{
      width: 50%;
      margin-left: 30.4%;
      margin-right: 10.8%;
    }


    .menu ul{
      display: flex;
      justify-content: space-between;
    }

    .menu ul li{
      padding-right: 2%;
    }

    button{
      margin-top: 5px;
      margin-right: 10.8%;
      margin-left: 8.1%;
    }
    
  }

  @media(min-width: 1440px){
    .header{
      width: 100%;
    }

    .day img{
      width: 59.1px;
      height: 59.1px;
    }


    button{
      margin-right: 156px;
      padding-right: 26px;
    }

    .menu{
      width: 100%;
      margin-left: 4.1%;
    }

    .menu ul{
      width: 395px;
      padding: 0;
      height: 95px;
      margin-left: 63.3%;
      margin-right: 0px;
      display: flex;
      justify-content: space-between;
    }

    .menu ul li{
      padding-right: 0;
    }

    .boton{
      width: 54px;
      height: 54px;
      margin-right: 10.8%;
    }

    .boton button{
      margin: 0;
      padding: 0;
      width: 54px;
      height: 54px;
    }

    .boton img{
      margin: 0;
      padding: 0;
      width: 54px;
      height: 54px;
    }
  }

  /**********PRIMER CONTAINER*************/

  .primerContainer {
    width: 100%;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .primerContainer h1{
    width: 76.3%;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    margin: 7px 11.7% 0 12%;
  }

  #cambio-color{
    color: #50E3C2;
  }

  .ilustra img{
    width: 72.8%;
    height: 130px;
    margin: 31px 13.6% 0 13.6%;
  }

  #buscador{
      margin-left: auto;
      margin-right: auto;
    }

  #search{
    width: 334px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 27px;
    border-radius: 27px;
    margin: -4px auto 31px auto;
  }

  #search::placeholder{
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #9CAFC3;
    text-align: left;
    padding: 1.2% 17.1% 1.1% 14.7%;
  }

  .icon{
    background: transparent;
    border: none;
    color: #572EE5;
    font-size: 20px;
    position: relative;
    right: 10.5%;
    top: 1%;
  }

  @media (min-width: 500px){

    .primerContainer{
      margin-top: 76px;
      height: auto;

    }
   
    .primerContainer h1{  
      width: 414px;
      margin-left: auto;
      margin-right: auto ;
      margin-top: 0;
    }

    .ilustra{      
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .ilustra img{
      margin: 0;
      width: 399px;
      height: 190px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
    }

    #buscador{
      margin-left: auto;
      margin-right: auto;
    }

    #search{
      width: 451px;
      height: 50px;
      margin-left: auto;
      margin-right:auto;
      margin-top: -4px;
      margin-bottom: 31px;
    }
  }

  /**********SEGUNDO CONTAINER*************/

  .segundoContainer{
    display: flex;
    flex-direction: column;
  }

  .segundoContainer h3{
    margin-top: 31px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
  }

  .segundoContainer p{
    width: 60%;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin: 0.2% 20% 45px 20%;
  }

  @media (min-width: 500px){
    .segundoContainer h3{
      margin-top: 73px;
      font-size: 18px;  
      line-height: 25px;
    }

    .segundoContainer p{
      margin: 0;
      margin-top: 7px;
      margin-left: auto;
      margin-right: auto;
      font-size: 16px;
    }
  }

  /**********TERCER CONTAINER*************/

  .tercerContainer{
    width: 100%;
    height: 430px;
    display: flex;
    flex-direction: column;
  }

  .tercerContainer h3{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding-top: 3.8%;
  }

  .tercerContainer p{
    width: 88.8%;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    margin: 0.6% 5.6% 2.7% 5.6%;
  }

  .tercerContainer div{
    width: 100%;
    height: 187px;
    margin-top: 2.7%;
    padding-bottom: 6.8%;
  }

  @media (min-width: 500px){
    .tercerContainer h3{
      font-size: 25px;
      padding: 0;
      margin-top: 162px;
      margin-bottom: 12px;
    }

    .tercerContainer p{
      font-size: 18px;
      color: #000000;
      text-align: center;
      margin-top: 0;
    }

    .tercerContainer p br{
      display: none;
    }
  }

  /***************** FOOTER  ********************/

  .footer{
    width: 100%;
    height: 196px;
    padding-top: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid #572EE5;
  }


  .footer h3{
    font-size: 15px;
    text-align: center;
    padding-bottom: 24px;
    font-weight: 400;
  }

  #redes{
    width: 25.4%;
    display: flex;
    justify-content: space-between;
  }

  #redes a{
    color: #CDD6E0;
    padding-bottom: 47.8px;
  }

  #redes p{
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: 700px){
    .footer{
      width: 100%;
      flex-direction: row;
    }

    .footer h3{  
      width: 180px;    
      margin: 0;
      padding: 0;
      margin-left: 10%;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0;
    }

    #redes{
      width: 155px;
      display: flex;
      justify-content: space-between;
      margin-left: 17px;
    }

    #redes a{
      margin: 0;
      padding: 0;
    }

    .footer p{
      width: 450px;
      margin-left: 30%;
      margin-right: 7%;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0;
    }
  }

  @media (min-width: 1000px){

    .footer h3{  
      width: 100px;  
      margin-left: 10.8%;
    }

    #redes{
      width: 90px;
      display: flex;
      justify-content: space-between;
      margin-left: 17px;
    }

    .footer p{
      width: 250px;
      margin-left: 45%;
      margin-right: 7%;
      font-size: 13px;
    }
  }

  @media (min-width: 1440px){
    .footer{
      width: 100%;
      flex-direction: row;
    }

    .footer h3{  
      width: 79px;    
      margin: 0;
      padding: 0;
      margin-left: 10.8%;
    }

    #redes{
      width: 95px;
      display: flex;
      justify-content: space-between;
      margin-left: 17px;
    }

    .footer p{
      width: 200px;
      margin-left: 51%;
      margin-right: 11%;
  }

  }


